# *data load*

In [1]:
from pshmodule.utils import filemanager as fm

In [2]:
df = fm.load('path/train_data.csv')

extension : .csv
Loaded 21008 records from /home/jovyan/shpark-datashare/news_company_ner/data/merged_dataset/backup/train_data.csv

In [3]:
df.head()

,tokens,ner_tags
0,"['특히', '영동고속도로', '강릉', '방향', '문막휴게소', '에서', '만...","['O', 'LC', 'LC', 'O', 'LC', 'O', 'LC', 'O', '..."
1,"['한군데', '서', '필름을', '너무', '낭비한', '작품입니다', '']","['QT', 'O', 'O', 'O', 'O', 'O', 'O']"
2,"['하지만', '이영화에는', '감히', '별', '5개', '를', '주고싶다']","['O', 'O', 'O', 'O', 'QT', 'O', 'O']"
3,"['이번', '만남을', '토대로', '삼익전자공업', '창용금형', '생각을걷다'...","['O', 'O', 'O', 'OG', 'OG', 'OG', 'QT', 'O', '..."
4,"['팀', '조연들의', '탁월한', '연기와', '홍금보', '의', '녹슬지않은...","['O', 'O', 'O', 'O', 'PS', 'O', 'O', 'O', 'O',..."

In [4]:
df.tail(20)

,tokens,ner_tags
20988,"['아울러', '달고', '짠', '맛을', '좋아하는', '성향이', '있는', ...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."
20989,"['앞에', '불장난같았던', '30분', '은', '좀', '지루했지만', '뒤로...","['O', 'O', 'TI', 'O', 'O', 'O', 'O', 'O', 'QT'..."
20990,"['2014', '연성건설', '어워즈', '페스티벌', '연기대상', '시상식이'...","['DT', 'OG', 'O', 'O', 'O', 'O', 'DT', 'LC', '..."
20991,"['시걸', '의', '아이키도', '기반', '액션', '작렬', '엔딩의', '...","['PS', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O',..."
20992,"['이와', '관련해', '트위터에서는', '두', '사람', '의', '대화를',...","['O', 'O', 'O', 'QT', 'QT', 'O', 'O', 'O', 'O'..."
20993,"['유카와', '센세', '최고로', '매력적인', '캐릭터', '후쿠야마', '마...","['PS', 'O', 'O', 'O', 'O', 'PS', 'PS', 'O', 'O..."
20994,"['이어', '한국동화무역', '전방지역의', '포병부대에서', '갱도', '속의'...","['O', 'OG', 'O', 'O', 'O', 'O', 'O', 'O', 'O',..."
20995,"['비오는', '골목에서의', '액션신이란', '그', '우수에', '젖은', '연...","['O', 'O', 'O', 'O', 'O', 'O', 'PS', 'O', 'O',..."
20996,"['저는', '대한민국', '이', '이룩한', '도전과', '성취의', '역사야말...","['O', 'LC', 'O', 'O', 'O', 'O', 'O', 'O', 'O',..."
20997,"['재미', '끝내주는구만', 'CG발전도', '대단하고', '뭔', '1점', '...","['O', 'O', 'O', 'O', 'O', 'QT', 'O', 'O', 'O',..."
20998,"['정치인', '유시민', '은', '10년간', '의', '정치', '생활을', ...","['O', 'PS', 'O', 'DT', 'O', 'O', 'O', 'O', 'DT..."
20999,"['이노텔레콤', '은', '이', '자리에서', '지난', '5월', '미국', ...","['OG', 'O', 'O', 'O', 'DT', 'DT', 'LC', 'O', '..."
21000,"['그냥', '받아들이고', '보라는', '식', '그나마', '볼껀', '이병헌'...","['O', 'O', 'O', 'O', 'O', 'O', 'PS', 'O', 'O',..."
21001,"['표지에서', '킴', '카다시안', '은', '과감하게', '뒷모습을', '모두...","['O', 'PS', 'PS', 'O', 'O', 'O', 'O', 'O', 'O'..."
21002,"['돈', '아까운영화', '서인국', '은', '조연급이', '적당']","['O', 'O', 'PS', 'O', 'O', 'O']"
21003,"['한편', '더', '지니어스', '2', '는', '총', '13인', '의',...","['O', 'O', 'O', 'QT', 'O', 'O', 'QT', 'O', 'O'..."
21004,"['현재', 'LG파워콤', '는', '국내', '최초로', '자동차융합대학', '...","['O', 'OG', 'O', 'O', 'O', 'O', 'O', 'O', 'O',..."
21005,"['바디호러의', '결정판이자', '크로넨버그', '의', '결정판', '뭐', '...","['O', 'O', 'PS', 'O', 'O', 'O', 'O', 'O', 'O']"
21006,"['부광에프디', '은', '시신을', '인양해', '전남', '해남', '으로',...","['OG', 'O', 'O', 'O', 'LC', 'LC', 'O', 'O', 'O..."
21007,"['진짜', '별그대없엇다면', '수목', '드라마', '1위', '노릴만큼', '...","['O', 'O', 'DT', 'O', 'QT', 'O', 'O', 'O', 'O']"

# *기업명 제외*

In [5]:
df = df[~df.ner_tags.apply(lambda x: 'OG' in x)]

In [6]:
df.shape

(15249, 2)

# *기업명 데이터 만들기*

In [7]:
import re
import codecs
import pandas as pd
import numpy as np

In [8]:
company_name = fm.load('path/data/company_name.txt')

extension : .txt
Loaded 12003 records from /home/jovyan/shpark-datashare/news_company_ner/data/company_name.txt

In [9]:
company_name.rename(columns={'삼익전자공업':'company'}, inplace=True)

In [10]:
company_name.loc['12003'] = '삼익전자공업'

In [11]:
company_name.tail()

         company
11999       이스타코
12000       프리닉스
12001  해피브릿지협동조합
12002       피스템코
12003     삼익전자공업

### klue dataset

In [12]:
def klue_dataloader():
    with codecs.open("/path/data//klue-ner-v1.1_train.tsv", "r", "utf-8-sig") as io:
        lines = io.readlines()
        result = []
        temp_tokens = []
        temp_tags = []
        temp_string = ''
        temp_tag = ''
        state = True
        for line in lines:
            if line[0] == '#':
                continue
            temp_txt = line.rstrip().split('\t')
            if len(temp_txt) > 1:
                token, tag = temp_txt
                if state:
                    temp_tag = tag
                    temp_string += token
                    state = False
                    continue
                if not re.findall(r'[^a-zA-Z가-힣ㄱ-ㅎ0-9]', token) and token != ' ':
                    if temp_tag[-2:] == tag[-2:]:
                        temp_string += token
                    else:
                        if temp_string:
                            temp_tokens.append(temp_string)
                            temp_tags.append(temp_tag[-2:])
                            temp_string = ''
                            temp_string += token
                            temp_tag = tag
                        else:
                            temp_string += token
                            temp_tag = tag
                            pass
                else:
                    if temp_string:
                        temp_tokens.append(temp_string)
                        temp_tags.append(temp_tag[-2:])
                        temp_string = ''
                        temp_tag = 'O'
            else:
                temp_tokens.append(temp_string)
                temp_tags.append(temp_tag[-2:])
                result.append([temp_tokens, temp_tags])
                temp_tokens, temp_tags = [], []
                temp_string = ''
                temp_tag = ''
    return pd.DataFrame(result, columns=['tokens', 'ner_tags'])

In [13]:
klue = klue_dataloader()

In [14]:
klue.head()

,tokens,ner_tags
0,"[특히, 영동고속도로, 강릉, 방향, 문막휴게소, 에서, 만종분기점, 까지, 5km...","[O, LC, LC, O, LC, O, LC, O, QT, O, O, O, O, O..."
1,"[한군데, 서, 필름을, 너무, 낭비한, 작품입니다, ]","[QT, O, O, O, O, O, O]"
2,"[하지만, 이영화에는, 감히, 별, 5개, 를, 주고싶다]","[O, O, O, O, QT, O, O]"
3,"[이번, 만남을, 토대로, 삼성물산, 건설부문, 대학생기자단, 3기, 는, 앞으로,...","[O, O, O, OG, OG, OG, QT, O, O, DT, O, O, O, O]"
4,"[팀, 조연들의, 탁월한, 연기와, 홍금보, 의, 녹슬지않은, 관록의, 무술, ]","[O, O, O, O, PS, O, O, O, O, O]"

In [15]:
klue_etc = klue[~klue.ner_tags.apply(lambda x: 'OG' in x)]

### 기업명 교체하기

In [16]:
klue_og = klue[klue.ner_tags.apply(lambda x: 'OG' in x)]

In [17]:
klue_og.reset_index(inplace=True)

In [18]:
klue_og = klue_og[['tokens', 'ner_tags']]

In [19]:
klue_og.head(80)

,tokens,ner_tags
0,"[이번, 만남을, 토대로, 삼성물산, 건설부문, 대학생기자단, 3기, 는, 앞으로,...","[O, O, O, OG, OG, OG, QT, O, O, DT, O, O, O, O]"
1,"[지난, 20여년, 간, 취해진, 안보리, 의, 제재, 가운데, 가장, 강력한, 수...","[DT, DT, O, O, OG, O, O, O, O, O, O, O, O, O]"
2,"[중국, 후난, 성, 창샤, 시, 우자링, 가, 한, 시장에서, 14일, 오전, 1...","[LC, LC, LC, LC, LC, LC, LC, O, O, DT, TI, TI,..."
3,"[이날, 대정부질문은, 외교, 통일, 안보, 분야인, 만큼, 주한미군, 탄저균, 배...","[DT, O, O, O, O, O, O, OG, O, O, O, LC, O, LC,..."
4,"[새정치연합, 은, 또, 선거, 참여, 연령을, 만, 18세, 고등학생, 제외, 로...","[OG, O, O, O, O, O, O, QT, O, O, O, O, O, O, O..."
...,...,...
75,"[여성, 출연자, 사망, 사건으로, 물의를, 빚은, SBS, 프로그램, 짝, 이, ...","[O, O, O, O, O, O, OG, O, O, O, O, O]"
76,"[스페인, 에서, 번지점프와, 관련된, 사망자는, 1980년대, 번지, 점프가, 도...","[LC, O, O, O, O, DT, O, O, O, O, QT, O, O, OG,..."
77,"[대우인터내셔널, 의, 여직원, 비율은, 27, 0, 로, 다른, 회사보다, 높다, ]","[OG, O, O, O, QT, QT, O, O, O, O, O]"
78,"[LA, 에서, 2011년, 벌어진, 양팀간, 시즌, 개막전에서는, 자이언츠, 팬이...","[LC, O, DT, O, O, O, O, OG, O, LC, LC, O, OG, ..."
79,"[현대카드, 는, 이번, 프로젝트에서, 새, 스마트폰의, 디자인을, 담당하고, 브랜...","[OG, O, O, O, O, O, O, O, O, O, O, O, O, O, O]"

In [20]:
def company_replace(df, corporation_list):
    cnt = 0
    for i, row in df.iterrows():
        for idx in range(len(row["tokens"])):
            if row["ner_tags"][idx] == "OG":
                row["tokens"][idx] = corporation_list[cnt]
                cnt += 1
    print(f"교체 건수 : {cnt}")
    return df

In [21]:
klue_og = company_replace(klue_og, company_name.company.to_list())

교체 건수 : 9735

In [22]:
klue_og.head(10)

,tokens,ner_tags
0,"[이번, 만남을, 토대로, 창용금형, 생각을걷다, 삼호, 3기, 는, 앞으로, 5개...","[O, O, O, OG, OG, OG, QT, O, O, DT, O, O, O, O]"
1,"[지난, 20여년, 간, 취해진, 고려산업, 의, 제재, 가운데, 가장, 강력한, ...","[DT, DT, O, O, OG, O, O, O, O, O, O, O, O, O]"
2,"[중국, 후난, 성, 창샤, 시, 우자링, 가, 한, 시장에서, 14일, 오전, 1...","[LC, LC, LC, LC, LC, LC, LC, O, O, DT, TI, TI,..."
3,"[이날, 대정부질문은, 외교, 통일, 안보, 분야인, 만큼, 디지털스트림테크놀로지,...","[DT, O, O, O, O, O, O, OG, O, O, O, LC, O, LC,..."
4,"[한슬, 은, 또, 선거, 참여, 연령을, 만, 18세, 고등학생, 제외, 로, 낮...","[OG, O, O, O, O, O, O, QT, O, O, O, O, O, O, O..."
5,"[에스알건설, 가, 구조개혁을, 위해, 추진하는, 노동개혁법과, 서비스산업발전기본법...","[OG, O, O, O, O, O, O, O, O, O, O, O, O, O, OG..."
6,"[이광종, 감독이, 이끄는, 광성계측기, 은, 28일, 인천, 문학경기장, 에서, ...","[PS, O, O, OG, O, DT, LC, LC, O, O, O, O, O, O..."
7,"[택시, 과잉공급을, 해소하고, 택시기사, 소득을, 높이기, 위해, 영성산업, 가,...","[O, O, O, O, O, O, O, OG, O, O, O, QT, O, O, O..."
8,"[류현진, 은, 30일, 이하, 한국, 시간, 미국, 캘리포니아주, 로스앤젤레스, ...","[PS, O, DT, O, LC, O, LC, LC, LC, LC, O, O, LC..."
9,"[영국, 일간, 정우피앤피, 효정, 는, 중국, 후이저우, 시, 에서, 다리, 너머...","[LC, O, OG, OG, O, LC, LC, LC, O, O, O, O, O, ..."

# *데이터 합치기*

In [23]:
df.head()

,tokens,ner_tags
0,"['특히', '영동고속도로', '강릉', '방향', '문막휴게소', '에서', '만...","['O', 'LC', 'LC', 'O', 'LC', 'O', 'LC', 'O', '..."
1,"['한군데', '서', '필름을', '너무', '낭비한', '작품입니다', '']","['QT', 'O', 'O', 'O', 'O', 'O', 'O']"
2,"['하지만', '이영화에는', '감히', '별', '5개', '를', '주고싶다']","['O', 'O', 'O', 'O', 'QT', 'O', 'O']"
4,"['팀', '조연들의', '탁월한', '연기와', '홍금보', '의', '녹슬지않은...","['O', 'O', 'O', 'O', 'PS', 'O', 'O', 'O', 'O',..."
5,"['2013', '서울', '모터쇼', '참가', '레이싱모델', '허윤미', '씨...","['DT', 'LC', 'O', 'O', 'O', 'PS', 'O', 'O', 'O..."

In [24]:
klue_og.head()

,tokens,ner_tags
0,"[이번, 만남을, 토대로, 창용금형, 생각을걷다, 삼호, 3기, 는, 앞으로, 5개...","[O, O, O, OG, OG, OG, QT, O, O, DT, O, O, O, O]"
1,"[지난, 20여년, 간, 취해진, 고려산업, 의, 제재, 가운데, 가장, 강력한, ...","[DT, DT, O, O, OG, O, O, O, O, O, O, O, O, O]"
2,"[중국, 후난, 성, 창샤, 시, 우자링, 가, 한, 시장에서, 14일, 오전, 1...","[LC, LC, LC, LC, LC, LC, LC, O, O, DT, TI, TI,..."
3,"[이날, 대정부질문은, 외교, 통일, 안보, 분야인, 만큼, 디지털스트림테크놀로지,...","[DT, O, O, O, O, O, O, OG, O, O, O, LC, O, LC,..."
4,"[한슬, 은, 또, 선거, 참여, 연령을, 만, 18세, 고등학생, 제외, 로, 낮...","[OG, O, O, O, O, O, O, QT, O, O, O, O, O, O, O..."

In [25]:
df = pd.concat([df, klue_og])

In [26]:
df.shape

(21008, 2)

In [27]:
df.tail()

,tokens,ner_tags
5754,"[이어, 한일오닉스, 전방지역의, 포병부대에서, 갱도, 속의, 포를, 밖으로, 전개...","[O, OG, O, O, O, O, O, O, O, O, O, O, O, O, O,..."
5755,"[저는, 대한민국, 이, 이룩한, 도전과, 성취의, 역사야말로, 보다, 나은, 세상...","[O, LC, O, O, O, O, O, O, O, O, O, OG, O, O, O..."
5756,"[신도기연, 은, 이, 자리에서, 지난, 5월, 미국, 에서, 열린, 국제라텍, 연...","[OG, O, O, O, DT, DT, LC, O, O, OG, O, O, O, O..."
5757,"[현재, 알케이, 는, 국내, 최초로, 자동차융합대학, 자동차IT융합학과, 자동차운...","[O, OG, O, O, O, O, O, O, O, O, O, O, O, O, O,..."
5758,"[에이치알에스, 은, 시신을, 인양해, 전남, 해남, 으로, 이송하는, 한편, 다른...","[OG, O, O, O, LC, LC, O, O, O, O, O, O, O, O, ..."

### list 벗기기

In [28]:
def remove_list(x):
    data = str(x)
    return data

In [29]:
df['tokens_str'] = df.tokens.apply(remove_list)

In [30]:
df['ner_tags_str'] = df.ner_tags.apply(remove_list)

In [31]:
df.head()

,tokens,ner_tags,tokens_str,ner_tags_str
0,"['특히', '영동고속도로', '강릉', '방향', '문막휴게소', '에서', '만...","['O', 'LC', 'LC', 'O', 'LC', 'O', 'LC', 'O', '...","['특히', '영동고속도로', '강릉', '방향', '문막휴게소', '에서', '만...","['O', 'LC', 'LC', 'O', 'LC', 'O', 'LC', 'O', '..."
1,"['한군데', '서', '필름을', '너무', '낭비한', '작품입니다', '']","['QT', 'O', 'O', 'O', 'O', 'O', 'O']","['한군데', '서', '필름을', '너무', '낭비한', '작품입니다', '']","['QT', 'O', 'O', 'O', 'O', 'O', 'O']"
2,"['하지만', '이영화에는', '감히', '별', '5개', '를', '주고싶다']","['O', 'O', 'O', 'O', 'QT', 'O', 'O']","['하지만', '이영화에는', '감히', '별', '5개', '를', '주고싶다']","['O', 'O', 'O', 'O', 'QT', 'O', 'O']"
4,"['팀', '조연들의', '탁월한', '연기와', '홍금보', '의', '녹슬지않은...","['O', 'O', 'O', 'O', 'PS', 'O', 'O', 'O', 'O',...","['팀', '조연들의', '탁월한', '연기와', '홍금보', '의', '녹슬지않은...","['O', 'O', 'O', 'O', 'PS', 'O', 'O', 'O', 'O',..."
5,"['2013', '서울', '모터쇼', '참가', '레이싱모델', '허윤미', '씨...","['DT', 'LC', 'O', 'O', 'O', 'PS', 'O', 'O', 'O...","['2013', '서울', '모터쇼', '참가', '레이싱모델', '허윤미', '씨...","['DT', 'LC', 'O', 'O', 'O', 'PS', 'O', 'O', 'O..."

In [32]:
df = df[['tokens_str', 'ner_tags_str']]
df.rename(columns={'tokens_str':'tokens', 'ner_tags_str':'ner_tags'}, inplace=True)

In [33]:
df.head()

,tokens,ner_tags
0,"['특히', '영동고속도로', '강릉', '방향', '문막휴게소', '에서', '만...","['O', 'LC', 'LC', 'O', 'LC', 'O', 'LC', 'O', '..."
1,"['한군데', '서', '필름을', '너무', '낭비한', '작품입니다', '']","['QT', 'O', 'O', 'O', 'O', 'O', 'O']"
2,"['하지만', '이영화에는', '감히', '별', '5개', '를', '주고싶다']","['O', 'O', 'O', 'O', 'QT', 'O', 'O']"
4,"['팀', '조연들의', '탁월한', '연기와', '홍금보', '의', '녹슬지않은...","['O', 'O', 'O', 'O', 'PS', 'O', 'O', 'O', 'O',..."
5,"['2013', '서울', '모터쇼', '참가', '레이싱모델', '허윤미', '씨...","['DT', 'LC', 'O', 'O', 'O', 'PS', 'O', 'O', 'O..."

In [34]:
df.drop_duplicates(inplace=True)

In [35]:
df.shape

(21005, 2)

#

# *naver data*

In [36]:
from collections import Counter, defaultdict

In [37]:
def ner_tag_processing(li):
    li = list(map(lambda x: re.sub(r"(-[BI])|([BI]-)|(_[BI])|([BI]_)", "", x), li))
    li = list(map(lambda x: "_" if len(x) == 1 and (x == "O" or x == "-") else x, li))
    return li

In [38]:
def naver_corpus_data_loader():
    with codecs.open("/path/train_data.txt", "r", "utf-8-sig") as io:
        lines = io.readlines()
        temp = defaultdict(list)
        result = []
        for line in lines:
            if line[0] == "\n":
                result.append(temp)
                temp = defaultdict(list)
                continue
            else:
                temp_line = line.split()
                temp["tokens"].append(temp_line[1])
                temp["ner_tags"].append(temp_line[2])
    naver_df = pd.DataFrame(result)
    naver_df["ner_tags"] = naver_df["ner_tags"].apply(ner_tag_processing)
    return naver_df

In [39]:
naver = naver_corpus_data_loader()

In [40]:
naver.head()

,tokens,ner_tags
0,"[비토리오, 양일, 만에, 영사관, 감호, 용퇴,, 항룡, 압력설, 의심만, 가율]","[PER, DAT, _, ORG, CVL, _, _, _, _, _]"
1,"[이, 음경동맥의, 직경이, 8, 19mm입니다, .]","[_, _, _, NUM, NUM, _]"
2,"[9세이브로, 구완, 30위인, LG, 박찬형은, 평균자책점이, 16.45로, 준수...","[NUM, _, NUM, ORG, PER, _, NUM, _, _, NUM, _, ..."
3,"[7승, 25패는, 상트페테르부르크가, 역대, 월드리그에, 출진한, 분별, 최선의,...","[NUM, NUM, LOC, _, EVT, _, _, _, _, _]"
4,"[▲, 퍼거슨, 씨족의, 꾀]","[_, PER, CVL, _]"

### klue 양식으로 변경

In [41]:
tag_dict = {'LC': 'LOC',
            "DT": "DAT",
            "OG": "ORG",
            "TI": "TIM",
            "QT": "NOH",
            'O': '_',
            "PS": "PER"}

keys = list(tag_dict.keys())
values = list(tag_dict.values())

In [42]:
def klue_replace(x):
    x2 = []
    for k, v in enumerate(x):
        if v in values:
#             x2[k] = keys[values.index(v)]
            x2.append(keys[values.index(v)])
        else:
            # x2[k] = 'O' 
            x2.append('O')
    return x2

In [43]:
naver['ner_tagss'] = naver.ner_tags.apply(klue_replace)

In [44]:
naver.head()

,tokens,ner_tags,ner_tagss
0,"[비토리오, 양일, 만에, 영사관, 감호, 용퇴,, 항룡, 압력설, 의심만, 가율]","[PER, DAT, _, ORG, CVL, _, _, _, _, _]","[PS, DT, O, OG, O, O, O, O, O, O]"
1,"[이, 음경동맥의, 직경이, 8, 19mm입니다, .]","[_, _, _, NUM, NUM, _]","[O, O, O, O, O, O]"
2,"[9세이브로, 구완, 30위인, LG, 박찬형은, 평균자책점이, 16.45로, 준수...","[NUM, _, NUM, ORG, PER, _, NUM, _, _, NUM, _, ...","[O, O, O, OG, PS, O, O, O, O, O, O, O, O, O, O]"
3,"[7승, 25패는, 상트페테르부르크가, 역대, 월드리그에, 출진한, 분별, 최선의,...","[NUM, NUM, LOC, _, EVT, _, _, _, _, _]","[O, O, LC, O, O, O, O, O, O, O]"
4,"[▲, 퍼거슨, 씨족의, 꾀]","[_, PER, CVL, _]","[O, PS, O, O]"

In [45]:
naver = naver[['tokens', 'ner_tagss']]
naver.rename(columns={'ner_tagss':'ner_tags'}, inplace=True)

In [46]:
naver.head()

,tokens,ner_tags
0,"[비토리오, 양일, 만에, 영사관, 감호, 용퇴,, 항룡, 압력설, 의심만, 가율]","[PS, DT, O, OG, O, O, O, O, O, O]"
1,"[이, 음경동맥의, 직경이, 8, 19mm입니다, .]","[O, O, O, O, O, O]"
2,"[9세이브로, 구완, 30위인, LG, 박찬형은, 평균자책점이, 16.45로, 준수...","[O, O, O, OG, PS, O, O, O, O, O, O, O, O, O, O]"
3,"[7승, 25패는, 상트페테르부르크가, 역대, 월드리그에, 출진한, 분별, 최선의,...","[O, O, LC, O, O, O, O, O, O, O]"
4,"[▲, 퍼거슨, 씨족의, 꾀]","[O, PS, O, O]"

#

# *data 전처리*

### data 합치기

In [47]:
df = pd.concat([df, klue_og, naver])

### 중복 제거

In [48]:
df['tokens_str'] = df.tokens.apply(lambda x: str(x))
df['ner_tags_str'] = df.ner_tags.apply(lambda x: str(x))

In [49]:
df = df[['tokens_str', 'ner_tags_str']]

In [50]:
df.rename(columns={'tokens_str':'tokens', 'ner_tags_str':'ner_tags'}, inplace=True)

In [51]:
df.drop_duplicates(inplace=True)

In [52]:
df.reset_index(inplace=True)
df = df[['tokens', 'ner_tags']]

In [53]:
df.tail()

,tokens,ner_tags
109705,"['이륙한', '지', '3일', '뒷면', '우주선은', '달', '근처의', '...","['O', 'O', 'DT', 'O', 'O', 'O', 'O', 'O', 'O',..."
109706,"['(이석무', '감리비', 'smlee@mydaily.co.kr)[관련기사]▶',...","['PS', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O',..."
109707,"['그는', '레노버가', '지난', '1월', 'IBM', 'PC', '현대엘리베...","['O', 'OG', 'DT', 'DT', 'OG', 'OG', 'OG', 'O',..."
109708,"['미움도', '열심성이고', '일도', '열심성이고', '.']","['O', 'O', 'O', 'O', 'O']"
109709,"['－（해설）', '어째', '뭔가', '수상쩍은', '좌담', '．']","['O', 'O', 'O', 'O', 'O', 'O']"

### 리스트로 돌리기

In [54]:
df['tokens'] = df.tokens.apply(lambda x: eval(x))

In [55]:
df['ner_tags'] = df.ner_tags.apply(lambda x: eval(x))

### 특수문자 제거

In [56]:
import swifter
from pshmodule.processing import processing as p

In [57]:
def processing(x):
    result = []
    for i in x:
        i = re.sub(r"[a-zA-Z가-힣]+.kr", "", i)
        i = re.sub(r"[-=+,#/\?:^.@*\"※~ㆍ!』‘|\(\)\[\]`\'…》\”\“\’·◇▶－()（）．]", "", i)
        result.append(i)
    return result

In [58]:
df['tokens_processing'] = df.tokens.swifter.apply(processing)

Pandas Apply:   0%|          | 0/109710 [00:00<?, ?it/s]

In [59]:
df['ner_tagss'] = df.ner_tags

In [60]:
df = df[['tokens_processing', 'ner_tagss']]
df.rename(columns={'tokens_processing':'tokens', 'ner_tagss':'ner_tags'}, inplace=True)

In [61]:
df.tail()

,tokens,ner_tags
109705,"[이륙한, 지, 3일, 뒷면, 우주선은, 달, 근처의, 차도에, 진입하게, 됩니다, ]","[O, O, DT, O, O, O, O, O, O, O, O]"
109706,"[이석무, 감리비, smleemydaily관련기사, , , , , 기마병, 제보, ...","[PS, O, O, O, O, O, O, O, O, O, O, O, OG, O, O..."
109707,"[그는, 레노버가, 지난, 1월, IBM, PC, 현대엘리베이터, 를, 승자하며, ...","[O, OG, DT, DT, OG, OG, OG, O, O, O, PS, PS, O..."
109708,"[미움도, 열심성이고, 일도, 열심성이고, ]","[O, O, O, O, O]"
109709,"[해설, 어째, 뭔가, 수상쩍은, 좌담, ]","[O, O, O, O, O, O]"

In [62]:
df.head(10)

,tokens,ner_tags
0,"[특히, 영동고속도로, 강릉, 방향, 문막휴게소, 에서, 만종분기점, 까지, 5km...","[O, LC, LC, O, LC, O, LC, O, QT, O, O, O, O, O..."
1,"[한군데, 서, 필름을, 너무, 낭비한, 작품입니다, ]","[QT, O, O, O, O, O, O]"
2,"[하지만, 이영화에는, 감히, 별, 5개, 를, 주고싶다]","[O, O, O, O, QT, O, O]"
3,"[팀, 조연들의, 탁월한, 연기와, 홍금보, 의, 녹슬지않은, 관록의, 무술, ]","[O, O, O, O, PS, O, O, O, O, O]"
4,"[2013, 서울, 모터쇼, 참가, 레이싱모델, 허윤미, 씨의, 귀요미, 셀카입니다, ]","[DT, LC, O, O, O, PS, O, O, O, O]"
5,"[임시완, 보아, 커플, 최다니엘, 김지원, 커플, 보러, 가자, 연장, 고, 고,...","[PS, PS, O, PS, PS, O, O, O, O, O, O, O, O, O,..."
6,"[공개적으로, 말하지, 못했지만, 지난, 가을, 부터, 가슴이, 내내, 아팠다, ]","[O, O, O, DT, DT, O, O, O, O, O]"
7,"[다만, 너무, 김우빈, 의, 분량만, 많아서, 저는, 이현우, 팬이라, 그래도, ...","[O, O, PS, O, O, O, O, PS, O, O, O]"
8,"[짐캐리, 는, 볼만하지만, 재미가, 전혀, 없었따, ]","[PS, O, O, O, O, O, O]"
9,"[이로써, 추신수, 는, 메이저리그에서, 개인통산, 첫, 사이클링, 히트를, 달성한...","[O, PS, O, O, O, O, O, O, O, O, LC, O, O, O, O..."

#

# *data 저장*

In [63]:
df.to_csv("/path/merged_dataset/train_data.csv", index=False)

In [64]:
df = fm.load("/path/merged_dataset/train_data.csv")

extension : .csv
Loaded 109710 records from /home/jovyan/shpark-datashare/news_company_ner/data/merged_dataset/train_data.csv

In [65]:
df.tail(50)

,tokens,ner_tags
109660,"['세일즈포스닷컴은', '그의', '말처럼', 'SaaS를', '통해', '전세계'...","['OG', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O',..."
109661,"['포항건설노조', '남산', '왕릉에서', '도리솔', '천상의', '정백을', ...","['OG', 'LC', 'O', 'O', 'O', 'O', 'O', 'DT', 'O..."
109662,"['가담자로는', '단초로', '미국에', '진출하는', '이학주의', '약조금은'...","['O', 'O', 'LC', 'O', 'PS', 'O', 'O', 'O', 'O'..."
109663,"['부푼', '꿈을', '안고서', '소친과', '펜션사업을', '성죽했지만', '...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."
109664,"['모든', '선수들이', '좋은', '기분을', '부지하고', '있어', '어떤'...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."
109665,"['진짜', '애당초', '운동경기하는', '것', '같았다니까', '']","['O', 'O', 'O', 'O', 'O', 'O']"
109666,"['아픔을', '초극하고', '재기에', '입신한', '수트들', '자망', '보기...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']"
109667,"['이보시오', '']","['O', 'O']"
109668,"['건강보험공단', '8점대', '']","['OG', 'O', 'O']"
109669,"['▲지난', '4년', '7월', '정통부가', 'KT', '', '하나로텔레콤에...","['DT', 'DT', 'DT', 'OG', 'OG', 'O', 'OG', 'O',..."
109670,"['예，', '내', '심중이', '곧다', '보니까', '목도', '이렇게', '...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']"
109671,"['아니에요', '두', '분', '앉으세요', '그래도', '노병님이신데', '']","['O', 'O', 'O', 'O', 'O', 'O', 'O']"
109672,"['이경재', '통신비밀보호법의', '무비<괴물>을', '게임으로', '만들어도',...","['PS', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O',..."
109673,"['서반에는', '팽팽하겠지만', '중반', '이왕', '캐임브리지대학교가', '힘...","['O', 'O', 'O', 'O', 'OG', 'O', 'O', 'O', 'O',..."
109674,"['검증된', '랍스카우스를', '선호하는', '김학범', '등푸른생선마저', '조...","['O', 'O', 'O', 'PS', 'O', 'PS', 'O', 'O', 'O'..."
109675,"['신지애', '한국여자오픈', '보성댁', '사이베이스클래식', '1R', '대빈...","['PS', 'O', 'O', 'O', 'O', 'PS', 'O', 'O']"
109676,"['대표팀의', '주장인', '아이딘', '니카의', '즉세로', '주에레아코리아'...","['OG', 'O', 'PS', 'PS', 'O', 'OG', 'O', 'O', '..."
109677,"['만리경이', '고정돼', '있고', '대괴와', '동류인', '빠르기로', '돌...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."
109678,"['핵심기자재인', '증발기', '제작에', '있어서', '두우', '최단납기인',...","['O', 'O', 'O', 'O', 'O', 'O', 'DT', 'O', 'O',..."
109679,"['야구촬영을', '저희가', '두', '달', '세', '달', '야구장에서', ...","['O', 'O', 'DT', 'DT', 'O', 'O', 'O', 'O', 'O'..."
109680,"['확대경영', '나선', '하버드대', '프롬폼']","['O', 'O', 'OG', 'PS']"
109681,"['기싸움에서', '밀리지', '않겠다는', '양팀', '장의자의', '분위기는',...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."
109682,"['그러한데도', '못했다면', '불녕', '책임이다', '']","['O', 'O', 'O', 'O', 'O']"
109683,"['백융기', '첩장은', 'LG의', '노서아', '상업이', '활성화될', '것...","['PS', 'O', 'OG', 'LC', 'O', 'O', 'O', 'O', 'O..."
109684,"['득점', '정황도', '운이', '없었을', '뿐이었다', '']","['O', 'O', 'O', 'O', 'O', 'O']"
109685,"['시력장애', '킹카에게', '식물성스테롤을', '흡수하게', '했더니', '3주...","['O', 'O', 'O', 'O', 'O', 'DT', 'DT', 'O', 'O'..."
109686,"['아，', '이렇게', '아름다운', '꽃들이', '있습니다', '']","['O', 'O', 'O', 'O', 'O', 'O']"
109687,"['주증상인', '보충을', '위해', '용대연못에서', '쉬퍼', '히로키도', ...","['O', 'O', 'O', 'LC', 'PS', 'PS', 'O', 'O']"
109688,"['개각', '승상은', '정보통신부', '', '홍대', '', '해양수산부', ...","['O', 'O', 'OG', 'O', 'OG', 'O', 'OG', 'O', 'O..."
109689,"['임신부구', '밖에서의', '활동은', '빛난다', '']","['O', 'O', 'O', 'O', 'O']"
109690,"['해설', '창의성은', '하루아침에', '길러지지', '않는다', '']","['O', 'O', 'O', 'O', 'O', 'O']"
109691,"['해설', '심하기는', '하네요', '']","['O', 'O', 'O', 'O']"
109692,"['폐기종', '샷의', '요령은', '풀스윙으로', '칩샷한다는', '마음과도',...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']"
109693,"['10년간', '음반', '상점', '존명율', '7%사단법인', '사이버테러대응...","['DT', 'O', 'O', 'O', 'O', 'OG', 'PS', 'O', 'O..."
109694,"['본좌', '몽상가', '로댕', '폭풍저그', '최창환호가', '금반엔', '아...","['PS', 'PS', 'PS', 'PS', 'PS', 'O', 'LC', 'LC'..."
109695,"['사랑하는', '정남을', '왕으로', '모시겠다는', '백순근의', '양치기에'...","['O', 'O', 'O', 'O', 'PS', 'O', 'O', 'O', 'O',..."
109696,"['게임방식은', '초보농부구', '한', '게임', '233세트', '수신기별',...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."
109697,"['이런', '흐름으로', '유행기가', '영속된다면', '안해보다', '11타수'...","['O', 'O', 'O', 'O', 'DT', 'O', 'O', 'O', 'O',..."
109698,"['그들과', '접할', '호기도', '없었던', '탓에', '타국', '정신문화에...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."
109699,"['삼성화재', '러셀', '산모', '다음주', '개막전이', '중요']","['OG', 'PS', 'O', 'DT', 'O', 'O']"
109700,"['해설', '따개비는', '물', '속에', '들어가면', '뚜껑을', '열고',...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."
109701,"['서귀포시선거관리위원회', '현대미포조선', '291', '헌재', 'KB국민은행...","['OG', 'OG', 'O', 'OG', 'OG', 'O']"
109702,"['6년', '전', '이들의', '테러음모를', '장악한', 'FBI는', '스케...","['DT', 'DT', 'O', 'O', 'O', 'OG', 'O', 'O', 'O..."
109703,"['김석', '김시무니', '둘뿐이다', '']","['PS', 'PS', 'O', 'O']"
109704,"['야근자', '6년', '발자취를', '과긍하는', '코믹콘은', '영향력이', ...","['O', 'DT', 'O', 'O', 'O', 'O', 'O', 'OG', 'O'..."
109705,"['이륙한', '지', '3일', '뒷면', '우주선은', '달', '근처의', '...","['O', 'O', 'DT', 'O', 'O', 'O', 'O', 'O', 'O',..."
109706,"['이석무', '감리비', 'smleemydaily관련기사', '', '', '',...","['PS', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O',..."
109707,"['그는', '레노버가', '지난', '1월', 'IBM', 'PC', '현대엘리베...","['O', 'OG', 'DT', 'DT', 'OG', 'OG', 'OG', 'O',..."
109708,"['미움도', '열심성이고', '일도', '열심성이고', '']","['O', 'O', 'O', 'O', 'O']"
109709,"['해설', '어째', '뭔가', '수상쩍은', '좌담', '']","['O', 'O', 'O', 'O', 'O', 'O']"